<div class="container">
    <h1>Charts!</h1>
    <svg id="basicChart" width="640" height="480"/>
    <svg id="areaPlot" width="640" height="480"/>
    <svg id="stackedBar" width="640" height="480"/>
</div>
